<ion-header>
  <ion-toolbar>
    <ion-title>
      Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="texto">CED Gesner Teixeira</h1>
  <h3 class="texto">Professor: Rogério</h3>
  <h3 class="texto">Alunos 8º D</h3>
  <h4 class="texto">Fernanda</h4>
  <h4 class="texto">Jeane</h4>
  <h4 class="texto">Jhenifer</h4>
  <h4 class="texto">Pedro</h4>
  <h4 class="texto">Yngrid</h4>
</ion-content>

<ion-footer>
    <img height="80px !important;" style="float:right !important;" class="imagem-" src="assets/imagens/11.jpg" />
</ion-footer>
