<ion-header>
  <ion-toolbar>
    <ion-title>
      <h3 style="color:#3CB371 !important; text-align:center; !important"> Como reduzir o lixo?</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    
    <ion-slide>
      <img class="imagem-centro" src="assets/imagens/1.jpeg" />
    </ion-slide>
    
    <ion-slide>
      <img class="imagem-centro" src="assets/imagens/3.jpeg" />
    </ion-slide>
    
    <ion-slide>
      <ion-slide>
        <img class="imagem-centro" src="assets/imagens/10.jpeg" />
      </ion-slide>
    </ion-slide>
    
    <ion-slide>
      <img class="imagem-centro" src="assets/imagens/5.jpeg" />
    </ion-slide>
    
    <ion-slide>
      <img class="imagem-centro" src="assets/imagens/4.jpg" />
    </ion-slide>
    
    <ion-slide>
      <img class="imagem-centro" src="assets/imagens/7.jpg" />
    </ion-slide>
    
    <ion-slide>
      <img class="imagem-centro" src="assets/imagens/6.1.png" />
    </ion-slide>
    <ion-slide>
      <img class="imagem-centro" src="assets/imagens/6.2.png" />
    </ion-slide>
    <ion-slide>
      <img class="imagem-centro" src="assets/imagens/6.3.png" />
    </ion-slide>
    
    <ion-slide>
      <img class="imagem-centro" src="assets/imagens/8.1.png" />
    </ion-slide>
    <ion-slide>
      <img class="imagem-centro" src="assets/imagens/8.2.png" />
    </ion-slide>
    <ion-slide>
      <img class="imagem-centro" src="assets/imagens/8.3.png" />
    </ion-slide>
    
    <ion-slide>
      <img class="imagem-centro" src="assets/imagens/9.jpg" />
    </ion-slide>
    
    
  </ion-slides>
  
</ion-content>
<ion-footer>
  <img class="imagem-" src="assets/imagens/2.png" />
</ion-footer>